<div class="header">
<div class="imge_logo">
<img src="https://cdn-icons-png.flaticon.com/512/2076/2076808.png" alt="weather img"  width="40px" height="40px">
 <a  class="logo"> Weather City </a>
 </div>
  <div class="header-right" >
    <a class="active" href="/">Home</a>
    <a href="/weather">Weather</a>
    <a href="/about">About</a>
  </div>
</div>