<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
<link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/869/869869.png" type="image/x-icon">

 {{>css}}
    
</head>
<body>
    {{>header}}
    <div class="mai_n">
         <span class="about">
ABOUT US
        </span>
      <div class="about_box"> 
        <div class="img_1"></div>
        <div class="text_box">
          <span class="quote">"Everybody talks about the weather, but nobody does anything about it"</span>
          <span class="text_about"> This website is developed by mandeep to help you to find weather condition of your city .Our website has simlpe interface.you just had to enter the name of your city and you will get the weather condtion of the city in just seconds. </span>
        </div>
      </div>
      
    </div>
    {{>footer}}
</body>
</html>