<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
   <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/869/869869.png" type="image/x-icon">
{{>css}}
</head>
<body>
    {{>header}}
    <div class="home">
       <div class="text">
           <span>Welcome to <span style="color:#4287f5 ;">Weather</span> City  </span>
           <button id="btn"><a href="/weather">Check Weather</a></button>
       </div>
    </div>

    {{>footer}}
    
</body>
</html>